@import 'menupage';
@import 'aboutpage';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Kanit', sans-serif;
  background-image: linear-gradient(to right, red, black, black);
}
button {
  cursor: pointer;
  font-family: 'Kanit', sans-serif;
}
a {
  color: white;
}

@media (min-width: 500px) and (max-width: 900px) {
  html {
    font-size: 50%;
  }
  .topsection {
    flex-direction: column;
    height: fit-content;
    .imgandtitle {
      width: 100%;
    }
    .rightsection {
      width: 100%;
    }
  }
}
@media (max-width: 500px) {
  html {
    font-size: 37.5%;
  }
  .menupage {
    padding: 3rem;
    padding-top: 7rem;
  }
  .topsection {
    flex-direction: column;
    height: fit-content;
    .imgandtitle {
      width: 100%;
    }
    .rightsection {
      width: 100%;
    }
  }
}
